@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Satisfy", cursive;
}
body {
  font-size: 1.5rem;
  line-height: 1.867;
  background-color: black;
}

a {
  text-decoration: none;
}

/* .text-outline {
  -webkit-text-stroke: 1px rgb(255, 0, 0);
} */

.font-satisfy {
  font-family: "Satisfy", cursive;
}

.font-poppins {
  font-family: var(--font-poppins);
}

@keyframes spin-superslow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rocket {
  0%,
  100% {
    transform: rotate(-2deg) translate(0px, 0px);
  }
  50% {
    transform: rotate(2deg) translate(50px, 50px);
  }
}

.animate-spin-superslow {
  animation: spin-superslow 4s linear infinite;
}

.animate-rocket {
  animation: rocket 3s linear infinite;
}
